.nav {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  overflow: hidden;
  background-color: #161925;
}
.hamberger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161925;
  border-radius: 5px;
  gap: 8px;
  cursor: pointer;
}
.hamberger > span {
  width: 100%;
  transition: 0.5s ease-in-out;
  transform-origin: left;
}
.hamberger.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamberger.active > span:nth-child(1) {
  transform: rotate(43deg);
}
.hamberger.active > span:nth-child(3) {
  transform: rotate(-43deg);
}
.hamberger.active > span:nth-child(2) {
  opacity: 0;
}

.line {
  background-color: white;
  height: 2px;
  border-radius: 1rem;
}
.logo {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
