.app {
  background-color: rgb(24, 23, 23);
  height: 100vh;
}
.sections {
  background-color: rgb(24, 23, 23);
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  top: 60px;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}
.sections::-webkit-scrollbar {
  display: none;
}
